<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="generalfrags.html :: headerfiles">

</head>
<title>Seng Kur Dkhar | Entrepreneurship</title>

<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <div th:insert="generalfrags.html :: nav">

    </div>
    <!-- Header-->
    <!--            <header class="py-5">
                    <div class="container px-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-xxl-6">
                                <div class="text-center my-5">

                                </div>
                            </div>
                        </div>
                    </div>
                </header>-->
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container-fluid px-5 my-2">
            <div class="section-title">
                <h2>Entrepreneurship</h2>
<!--                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint-->
<!--                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit-->
<!--                    in iste officiis commodi quidem hic quas.</p>-->
            </div>

            <div class="row gx-5 ">
                <div class="col-lg-12 table-responsive">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Field</th>
                            <th>Dated</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Name 1</td>
                            <td>Field</td>
                            <td>A brief description</td>
                            <td>10/01/22</td>


                        </tr>
                        <tr>
                            <td>Name 2</td>
                            <td>Field</td>
                            <td>A brief description</td>
                            <td>11/10/22</td>


                        </tr>
                        <tr>
                            <td>Name 3</td>
                            <td>Field</td>
                            <td>A brief description</td>
                            <td>03/11/22</td>


                        </tr>



                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Dated</th>
                            <th>Dated</th>

                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two-->

</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Your Website 2022</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<!--<script src="assets/plugin/bootstrap_js/bootstrap.bundle.min.js"></script>-->
<!-- Core theme JS-->
<!--<script src="assets/js/addachievements.js" ></script>-->
<!--        <link rel="stylesheet" type="text/css" href="assets/plugin/datatables/dTable/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="assets/plugin/datatables/dTable/dataTables.jqueryui.min.css"/>-->

<!--<script src="assets/plugin/datatables/jquery-3.5.1.js" ></script>-->
<script src="assets/plugin/jquery/jquery-3.6.0.min.js"></script>
<script src="assets/plugin/vscroll/jquery.autoscroll.js"></script>
<script src="assets/plugin/bootstrap_js/bootstrap.bundle.min.js"></script>


<!--<script type="text/javascript" src="assets/plugin/datatables/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="assets/plugin/datatables/dTable/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="assets/plugin/datatables/dTable/dataTables.jqueryui.min.js"></script>

<script type="text/javascript" src="assets/plugin/datatables/DataTables/Buttons-2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="assets/plugin/datatables/DataTables/JSZip-2.5.0/jszip.min.js"></script>

<script type="text/javascript" src="assets/plugin/datatables/DataTables/Buttons-2.2.3/js/buttons.html5.min.js"></script>
-->

<!--        <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    dom: 'Bfrtip',
                    buttons: [

                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5'
                    ]
                });
            });
        </script>-->
<link rel="stylesheet" type="text/css" href="assets/plugin/datatables/DataTablesLatest/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/font.css" >


<script type="text/javascript" src="assets/plugin/datatables/DataTablesLatest/datatables.min.js"></script>

<script>
                    $(document).ready(function () {
                       $('#example').DataTable();
                   });

        </script>
<style>
            .dataTables_length{
                padding-bottom: 10px !important;
            }

        </style>
</body>

</html>